@model IBshopDemo.Models.Kpicrm

@{
    ViewData["Title"] = "Create";
}
<div class="content-wrapper">
    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="py-3 mb-4">
            <span class="text-muted fw-light">افزودن/</span>
           گزارش جدید امور مشتریان
        </h4>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div id="sticky-wrapper" class="sticky-wrapper" style="height: 86.9375px;">
                        <div class="card-header sticky-element bg-label-secondary d-flex justify-content-sm-between align-items-sm-center flex-column flex-sm-row" style="">
                            <h5 class="card-title mb-sm-0 me-2">امور مشتریان</h5>
                            <div class="action-btns">
                                <a asp-action="Index">
                                    <button class="btn btn-label-primary me-3">
                                        <span class="align-middle">بازگشت به لیست</span>
                                    </button>
                                </a>

                               <button type="submit" class="btn btn-primary submit">
                                    ثبت
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-8 mx-auto">
                                <form asp-action="Create" asp-controller="Kpicrms" method="post" id="form">
                                    <div asp-validation-summary="ModelOnly" class="text-danger col-12"></div>
                                    <div class="row">
                                        <div class="form-group col-6 mt-1">
                                            <label asp-for="NegFb" class="form-label mt-3"></label>
                                            <input asp-for="NegFb" class="form-control mt-1 shadow-sm" />
                                            <span asp-validation-for="NegFb" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-6 mt-1">
                                            <label asp-for="HocallQty" class="form-label mt-3"></label>
                                            <input asp-for="HocallQty" class="form-control mt-1 shadow-sm" />
                                            <span asp-validation-for="HocallQty" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-6 mt-1">
                                            <label asp-for="Fcsp" class="form-label mt-3"></label>
                                            <input asp-for="Fcsp" class="form-control mt-1 shadow-sm" />
                                            <span asp-validation-for="Fcsp" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-6 mt-1">
                                            <label asp-for="CusReqMetPer" class="form-label mt-3"></label>
                                            <input asp-for="CusReqMetPer" class="form-control mt-1 shadow-sm" />
                                            <span asp-validation-for="CusReqMetPer" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-6 mt-1">
                                            <label asp-for="CusSat" class="form-label mt-3"></label>
                                            <input asp-for="CusSat" class="form-control mt-1 shadow-sm" />
                                            <span asp-validation-for="CusSat" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-6 mt-1">
                                            <label asp-for="MissedCallPercent" class="form-label mt-3"></label>
                                            <input asp-for="MissedCallPercent" class="form-control mt-1 shadow-sm" />
                                            <span asp-validation-for="MissedCallPercent" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-6 mt-1">
                                            <label asp-for="AutAnsPercent" class="form-label mt-3"></label>
                                            <input asp-for="AutAnsPercent" class="form-control mt-1 shadow-sm" />
                                            <span asp-validation-for="AutAnsPercent" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-6 mt-1">
                                            <label asp-for="LeftCallPercent" class="form-label mt-3"></label>
                                            <input asp-for="LeftCallPercent" class="form-control mt-1 shadow-sm" />
                                            <span asp-validation-for="LeftCallPercent" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-6 mt-1">
                                            <label asp-for="SrvPrdSatPer" class="form-label mt-3"></label>
                                            <input asp-for="SrvPrdSatPer" class="form-control mt-1 shadow-sm" />
                                            <span asp-validation-for="SrvPrdSatPer" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-6 mt-1">
                                            <label asp-for="DelAvr" class="form-label mt-3"></label>
                                            <input asp-for="DelAvr" class="form-control mt-1 shadow-sm" />
                                            <span asp-validation-for="DelAvr" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-6 mt-1">
                                            <label asp-for="CallAnsSpd" class="form-label mt-3"></label>
                                            <input asp-for="CallAnsSpd" class="form-control mt-1 shadow-sm" />
                                            <span asp-validation-for="CallAnsSpd" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-6 mt-1">
                                            <label asp-for="Wtunder3" class="form-label mt-3"></label>
                                            <input asp-for="Wtunder3" class="form-control mt-1 shadow-sm" />
                                            <span asp-validation-for="Wtunder3" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-6 mt-1">
                                            <label asp-for="CallDuration" class="form-label mt-3"></label>
                                            <input asp-for="CallDuration" class="form-control mt-1 shadow-sm" />
                                            <span asp-validation-for="CallDuration" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-6 mt-1">
                                            <label asp-for="OutcallCostAvg" class="form-label mt-3"></label>
                                            <input asp-for="OutcallCostAvg" class="form-control mt-1 shadow-sm" />
                                            <span asp-validation-for="OutcallCostAvg" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-6 mt-1">
                                            <label asp-for="CallAnsSat" class="form-label mt-3"></label>
                                            <input asp-for="CallAnsSat" class="form-control mt-1 shadow-sm" />
                                            <span asp-validation-for="CallAnsSat" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-6 mt-1">
                                            <label asp-for="UsersComImpSer" class="form-label mt-3"></label>
                                            <input asp-for="UsersComImpSer" class="form-control mt-1 shadow-sm" />
                                            <span asp-validation-for="UsersComImpSer" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-6 mt-1">
                                            <label asp-for="TicQty" class="form-label mt-3"></label>
                                            <input asp-for="TicQty" class="form-control mt-1 shadow-sm" />
                                            <span asp-validation-for="TicQty" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-6 mt-1">
                                            <label asp-for="IdeCusNeed" class="form-label mt-3"></label>
                                            <input asp-for="IdeCusNeed" class="form-control mt-1 shadow-sm" />
                                            <span asp-validation-for="IdeCusNeed" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-6 mt-1">
                                            <label asp-for="PrdAwaPer" class="form-label mt-3"></label>
                                            <input asp-for="PrdAwaPer" class="form-control mt-1 shadow-sm" />
                                            <span asp-validation-for="PrdAwaPer" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-6 mt-1">
                                            <label asp-for="PerImpPrdSur" class="form-label mt-3"></label>
                                            <input asp-for="PerImpPrdSur" class="form-control mt-1 shadow-sm" />
                                            <span asp-validation-for="PerImpPrdSur" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-6 mt-1">
                                            <label asp-for="NewtooldSat" class="form-label mt-3"></label>
                                            <input asp-for="NewtooldSat" class="form-control mt-1 shadow-sm" />
                                            <span asp-validation-for="NewtooldSat" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-6 mt-1">
                                            <label asp-for="Csat" class="form-label mt-3"></label>
                                            <input asp-for="Csat" class="form-control mt-1 shadow-sm" />
                                            <span asp-validation-for="Csat" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-6 mt-1">
                                            <label asp-for="MrkOutcall" class="form-label mt-3"></label>
                                            <input asp-for="MrkOutcall" class="form-control mt-1 shadow-sm" />
                                            <span asp-validation-for="MrkOutcall" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-6 mt-1">
                                            <label asp-for="Crmiss" class="form-label mt-3"></label>
                                            <input asp-for="Crmiss" class="form-control mt-1 shadow-sm" />
                                            <span asp-validation-for="Crmiss" class="text-danger"></span>
                                        </div>
                                    </div>
                                 
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

@section Scripts {
    <script>

        $(document).ready(function () {
            $(".submit").click(function (ev) {
                var form = $("#form");
                var url = form.attr('action');
                $.ajax({
                    type: "POST",
                    url: url,
                    data: form.serialize(),
                    success: function (data) {

                        // Ajax call completed successfully
                        alert("Form Submited Successfully");
                    },
                    error: function (data) {

                        // Some error in ajax call
                        alert("some Error");
                    }
                })
            })
        });
    </script>

}