@model IBshopDemo.Models.Kpicrm

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Kpicrm</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Kpicrmcode" />
            <div class="form-group">
                <label asp-for="NegFb" class="control-label"></label>
                <input asp-for="NegFb" class="form-control" />
                <span asp-validation-for="NegFb" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HocallQty" class="control-label"></label>
                <input asp-for="HocallQty" class="form-control" />
                <span asp-validation-for="HocallQty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fcsp" class="control-label"></label>
                <input asp-for="Fcsp" class="form-control" />
                <span asp-validation-for="Fcsp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CusReqMetPer" class="control-label"></label>
                <input asp-for="CusReqMetPer" class="form-control" />
                <span asp-validation-for="CusReqMetPer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CusSat" class="control-label"></label>
                <input asp-for="CusSat" class="form-control" />
                <span asp-validation-for="CusSat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MissedCallPercent" class="control-label"></label>
                <input asp-for="MissedCallPercent" class="form-control" />
                <span asp-validation-for="MissedCallPercent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AutAnsPercent" class="control-label"></label>
                <input asp-for="AutAnsPercent" class="form-control" />
                <span asp-validation-for="AutAnsPercent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LeftCallPercent" class="control-label"></label>
                <input asp-for="LeftCallPercent" class="form-control" />
                <span asp-validation-for="LeftCallPercent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SrvPrdSatPer" class="control-label"></label>
                <input asp-for="SrvPrdSatPer" class="form-control" />
                <span asp-validation-for="SrvPrdSatPer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DelAvr" class="control-label"></label>
                <input asp-for="DelAvr" class="form-control" />
                <span asp-validation-for="DelAvr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CallAnsSpd" class="control-label"></label>
                <input asp-for="CallAnsSpd" class="form-control" />
                <span asp-validation-for="CallAnsSpd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Wtunder3" class="control-label"></label>
                <input asp-for="Wtunder3" class="form-control" />
                <span asp-validation-for="Wtunder3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CallDuration" class="control-label"></label>
                <input asp-for="CallDuration" class="form-control" />
                <span asp-validation-for="CallDuration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OutcallCostAvg" class="control-label"></label>
                <input asp-for="OutcallCostAvg" class="form-control" />
                <span asp-validation-for="OutcallCostAvg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CallAnsSat" class="control-label"></label>
                <input asp-for="CallAnsSat" class="form-control" />
                <span asp-validation-for="CallAnsSat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsersComImpSer" class="control-label"></label>
                <input asp-for="UsersComImpSer" class="form-control" />
                <span asp-validation-for="UsersComImpSer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TicQty" class="control-label"></label>
                <input asp-for="TicQty" class="form-control" />
                <span asp-validation-for="TicQty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdeCusNeed" class="control-label"></label>
                <input asp-for="IdeCusNeed" class="form-control" />
                <span asp-validation-for="IdeCusNeed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrdAwaPer" class="control-label"></label>
                <input asp-for="PrdAwaPer" class="form-control" />
                <span asp-validation-for="PrdAwaPer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PerImpPrdSur" class="control-label"></label>
                <input asp-for="PerImpPrdSur" class="form-control" />
                <span asp-validation-for="PerImpPrdSur" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewtooldSat" class="control-label"></label>
                <input asp-for="NewtooldSat" class="form-control" />
                <span asp-validation-for="NewtooldSat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Csat" class="control-label"></label>
                <input asp-for="Csat" class="form-control" />
                <span asp-validation-for="Csat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MrkOutcall" class="control-label"></label>
                <input asp-for="MrkOutcall" class="form-control" />
                <span asp-validation-for="MrkOutcall" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Crmiss" class="control-label"></label>
                <input asp-for="Crmiss" class="form-control" />
                <span asp-validation-for="Crmiss" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
