html {
  font-size: 12px;
}

@media (min-width: 768px) {
  html {
    font-size: 14px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}
@Font-face {
    font-family: 'mySans';
    src: url("../fonts/Sans.ttf");
    src: url("../fonts/Sans.ttf") format("ttf");
    src:url("../fonts/Sans.eot")format('eot');
    src:url("../fonts/Sans.woff")format('woff');
    
    font-size:14px;
}
body {
  margin-bottom: 60px;
  font-family:mySans;
}
