@model IBshopDemo.Models.Product

@{
    ViewData["Title"] = "Create";
}
<div class="content-wrapper">
	<!-- Content -->

	<div class="container-xxl flex-grow-1 container-p-y">
		<h4 class="py-3 mb-4">
			<span class="text-muted fw-light">Forms/</span>
			Sticky Actions
		</h4>
		<div class="row">
			<div class="col-12">
				<div class="card">
					<div id="sticky-wrapper" class="sticky-wrapper" style="height: 86.9375px;">
						<div class="card-header sticky-element bg-label-secondary d-flex justify-content-sm-between align-items-sm-center flex-column flex-sm-row" style="">
							<h5 class="card-title mb-sm-0 me-2">Sticky Action Bar</h5>
							<div class="action-btns">
								<a asp-action="Index">
									<button class="btn btn-label-primary me-3">
										<span class="align-middle">بازگشت به لیست</span>
									</button>
								</a>

								<button type="submit" class="btn btn-primary">
									ثبت
								</button>
							</div>
						</div>
					</div>
					<div class="card-body">
						<div class="row">
							<div class="col-lg-8 mx-auto">
								<form asp-action="Create">
									<div asp-validation-summary="ModelOnly" class="text-danger col-12"></div>
									<div class="row">
										<div class="form-group col-6 mt-1">
											<label asp-for="ProductsId" class="form-label mt-3"></label>
											<input asp-for="ProductsId" class="form-control mt-1 shadow-sm" />
											<span asp-validation-for="ProductsId" class="text-danger"></span>
										</div>
										<div class="form-group col-6 mt-1">
											<label asp-for="BrancheCode" class="form-label mt-3"></label>
											<select asp-for="BrancheCode" class="form-control mt-1 shadow-sm" asp-items="ViewBag.BrancheCode"></select>
										</div>
									</div>
									<div class="row">
										<div class="form-group col-6 mt-1">
											<label asp-for="IncomeCenterId" class="form-label mt-3"></label>
											<select asp-for="IncomeCenterId" class="form-control mt-1 shadow-sm" asp-items="ViewBag.IncomeCenterId"></select>
										</div>
										<div class="form-group col-6 mt-1">
											<label asp-for="MonthNumber" class="form-label mt-3"></label>
											<input asp-for="MonthNumber" class="form-control mt-1 shadow-sm" />
											<span asp-validation-for="MonthNumber" class="text-danger"></span>
										</div>
									</div>
									<div class="row">
										<div class="form-group col-6 mt-1">
											<label asp-for="MonthName" class="form-label mt-3"></label>
											<input asp-for="MonthName" class="form-control mt-1 shadow-sm" />
											<span asp-validation-for="MonthName" class="text-danger"></span>
										</div>
										<div class="form-group col-6 mt-1">
											<label asp-for="IbcrowdVol" class="form-label mt-3"></label>
											<input asp-for="IbcrowdVol" class="form-control mt-1 shadow-sm" />
											<span asp-validation-for="IbcrowdVol" class="text-danger"></span>
										</div>
									</div>
									<div class="row">
										<div class="form-group col-6 mt-1">
											<label asp-for="IbcardIssueQty" class="form-label mt-3"></label>
											<input asp-for="IbcardIssueQty" class="form-control mt-1 shadow-sm" />
											<span asp-validation-for="IbcardIssueQty" class="text-danger"></span>
										</div>
										<div class="form-group col-6 mt-1">
											<label asp-for="CardQty" class="form-label mt-3"></label>
											<input asp-for="CardQty" class="form-control mt-1 shadow-sm" />
											<span asp-validation-for="CardQty" class="text-danger"></span>
										</div>
									</div>
									<div class="row">
										<div class="form-group col-6 mt-1">
											<label asp-for="KargozariBoursCode" class="form-label mt-3"></label>
											<input asp-for="KargozariBoursCode" class="form-control mt-1 shadow-sm" />
											<span asp-validation-for="KargozariBoursCode" class="text-danger"></span>
										</div>
										<div class="form-group col-6 mt-1">
											<label asp-for="DealValue" class="form-label mt-3"></label>
											<input asp-for="DealValue" class="form-control mt-1 shadow-sm" />
											<span asp-validation-for="DealValue" class="text-danger"></span>
										</div>
									</div>
									<div class="row">
										<div class="form-group col-6 mt-1">
											<label asp-for="Income" class="form-label mt-3"></label>
											<input asp-for="Income" class="form-control mt-1 shadow-sm" />
											<span asp-validation-for="Income" class="text-danger"></span>
										</div>
									</div>
									
								</form>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>

	</div>
</div>

@section Scripts {
	<script src="~/theme/assets/vendor/libs/jquery-sticky/jquery-sticky.js"></script>
	<script src="~/theme/assets/js/form-layouts.js"></script>

}



