@model IBshopDemo.Models.MarketingMonthlyReport

@{
    ViewData["Title"] = "Create";
}

<div class="content-wrapper">
	<!-- Content -->

	<div class="container-xxl flex-grow-1 container-p-y">
		<h4 class="py-3 mb-4">
			<span class="text-muted fw-light">Forms/</span>
			Sticky Actions
		</h4>
		<div class="row">
			<div class="col-12">
				<div class="card">
					<div id="sticky-wrapper" class="sticky-wrapper" style="height: 86.9375px;">
						<div class="card-header sticky-element bg-label-secondary d-flex justify-content-sm-between align-items-sm-center flex-column flex-sm-row" style="">
							<h5 class="card-title mb-sm-0 me-2">Sticky Action Bar</h5>
							<div class="action-btns">
								<a asp-action="Index">
									<button class="btn btn-label-primary me-3">
										<span class="align-middle">بازگشت به لیست</span>
									</button>
								</a>

								<button type="submit" class="btn btn-primary">
									ثبت
								</button>
							</div>
						</div>
					</div>
					<div class="card-body">
						<div class="row">
							<div class="col-lg-8 mx-auto">
                                <form asp-action="Create">
                                    <div asp-validation-summary="ModelOnly" class="text-danger col-12"></div>



                                    <div class="row"></div>
                                    <div class="row">
                                        <div class="form-group col-6 mt-1">
                                            <label asp-for="Mrkmrid" class="form-label mt-3"></label>
                                            <input asp-for="Mrkmrid" class="form-control mt-1 shadow-sm" />
                                            <span asp-validation-for="Mrkmrid" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-6 mt-1">
                                            <label asp-for="Year" class="form-label mt-3"></label>
                                            <input asp-for="Year" class="form-control mt-1 shadow-sm" />
                                            <span asp-validation-for="Year" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-6 mt-1">
                                            <label asp-for="Month" class="form-label mt-3"></label>
                                            <input asp-for="Month" class="form-control mt-1 shadow-sm" />
                                            <span asp-validation-for="Month" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-6 mt-1">
                                            <label asp-for="MonthNumber" class="form-label mt-3"></label>
                                            <input asp-for="MonthNumber" class="form-control mt-1 shadow-sm" />
                                            <span asp-validation-for="MonthNumber" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-6 mt-1">
                                            <label asp-for="SentSmsQty" class="form-label mt-3"></label>
                                            <input asp-for="SentSmsQty" class="form-control mt-1 shadow-sm" />
                                            <span asp-validation-for="SentSmsQty" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-6 mt-1">
                                            <label asp-for="ReportAdvQty" class="form-label mt-3"></label>
                                            <input asp-for="ReportAdvQty" class="form-control mt-1 shadow-sm" />
                                            <span asp-validation-for="ReportAdvQty" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-6 mt-1">
                                            <label asp-for="NotifPushQty" class="form-label mt-3"></label>
                                            <input asp-for="NotifPushQty" class="form-control mt-1 shadow-sm" />
                                            <span asp-validation-for="NotifPushQty" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-6 mt-1">
                                            <label asp-for="PostMediaQty" class="form-label mt-3"></label>
                                            <input asp-for="PostMediaQty" class="form-control mt-1 shadow-sm" />
                                            <span asp-validation-for="PostMediaQty" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-6 mt-1">
                                            <label asp-for="StateMedAdvQty" class="form-label mt-3"></label>
                                            <input asp-for="StateMedAdvQty" class="form-control mt-1 shadow-sm" />
                                            <span asp-validation-for="StateMedAdvQty" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-6 mt-1">
                                            <label asp-for="BilboardQty" class="form-label mt-3"></label>
                                            <input asp-for="BilboardQty" class="form-control mt-1 shadow-sm" />
                                            <span asp-validation-for="BilboardQty" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-6 mt-1">
                                            <label asp-for="SrchEntQty" class="form-label mt-3"></label>
                                            <input asp-for="SrchEntQty" class="form-control mt-1 shadow-sm" />
                                            <span asp-validation-for="SrchEntQty" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-6 mt-1">
                                            <label asp-for="RefEntQty" class="form-label mt-3"></label>
                                            <input asp-for="RefEntQty" class="form-control mt-1 shadow-sm" />
                                            <span asp-validation-for="RefEntQty" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-6 mt-1">
                                            <label asp-for="SmedEntQty" class="form-label mt-3"></label>
                                            <input asp-for="SmedEntQty" class="form-control mt-1 shadow-sm" />
                                            <span asp-validation-for="SmedEntQty" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-6 mt-1">
                                            <label asp-for="SiteEntMonthlyAvg" class="form-label mt-3"></label>
                                            <input asp-for="SiteEntMonthlyAvg" class="form-control mt-1 shadow-sm" />
                                            <span asp-validation-for="SiteEntMonthlyAvg" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-6 mt-1">
                                            <label asp-for="InstFlwQty" class="form-label mt-3"></label>
                                            <input asp-for="InstFlwQty" class="form-control mt-1 shadow-sm" />
                                            <span asp-validation-for="InstFlwQty" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-6 mt-1">
                                            <label asp-for="EngQty" class="form-label mt-3"></label>
                                            <input asp-for="EngQty" class="form-control mt-1 shadow-sm" />
                                            <span asp-validation-for="EngQty" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-6 mt-1">
                                            <label asp-for="TlgPostContentQty" class="form-label mt-3"></label>
                                            <input asp-for="TlgPostContentQty" class="form-control mt-1 shadow-sm" />
                                            <span asp-validation-for="TlgPostContentQty" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-6 mt-1">
                                            <label asp-for="LinkdinContentQty" class="form-label mt-3"></label>
                                            <input asp-for="LinkdinContentQty" class="form-control mt-1 shadow-sm" />
                                            <span asp-validation-for="LinkdinContentQty" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-6 mt-1">
                                            <label asp-for="DesignQty" class="form-label mt-3"></label>
                                            <input asp-for="DesignQty" class="form-control mt-1 shadow-sm" />
                                            <span asp-validation-for="DesignQty" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-6 mt-1">
                                            <label asp-for="VideoQty" class="form-label mt-3"></label>
                                            <input asp-for="VideoQty" class="form-control mt-1 shadow-sm" />
                                            <span asp-validation-for="VideoQty" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-6 mt-1">
                                            <label asp-for="HoldQty" class="form-label mt-3"></label>
                                            <input asp-for="HoldQty" class="form-control mt-1 shadow-sm" />
                                            <span asp-validation-for="HoldQty" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-6 mt-1">
                                            <label asp-for="HoldComptQty" class="form-label mt-3"></label>
                                            <input asp-for="HoldComptQty" class="form-control mt-1 shadow-sm" />
                                            <span asp-validation-for="HoldComptQty" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-6 mt-1">
                                            <label asp-for="RecVidPostQty" class="form-label mt-3"></label>
                                            <input asp-for="RecVidPostQty" class="form-control mt-1 shadow-sm" />
                                            <span asp-validation-for="RecVidPostQty" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-6 mt-1">
                                            <label asp-for="TrainPostQty" class="form-label mt-3"></label>
                                            <input asp-for="TrainPostQty" class="form-control mt-1 shadow-sm" />
                                            <span asp-validation-for="TrainPostQty" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-6 mt-1">
                                            <label asp-for="InsFlwQty" class="form-label mt-3"></label>
                                            <input asp-for="InsFlwQty" class="form-control mt-1 shadow-sm" />
                                            <span asp-validation-for="InsFlwQty" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-6 mt-1">
                                            <label asp-for="NewsQty" class="form-label mt-3"></label>
                                            <input asp-for="NewsQty" class="form-control mt-1 shadow-sm" />
                                            <span asp-validation-for="NewsQty" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-6 mt-1">
                                            <label asp-for="TrainingCntrctQty" class="form-label mt-3"></label>
                                            <input asp-for="TrainingCntrctQty" class="form-control mt-1 shadow-sm" />
                                            <span asp-validation-for="TrainingCntrctQty" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-6 mt-1">
                                            <label asp-for="IbcrowdCalllegalCusQty" class="form-label mt-3"></label>
                                            <input asp-for="IbcrowdCalllegalCusQty" class="form-control mt-1 shadow-sm" />
                                            <span asp-validation-for="IbcrowdCalllegalCusQty" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-6 mt-1">
                                            <label asp-for="PrdSrvAdvCallQty" class="form-label mt-3"></label>
                                            <input asp-for="PrdSrvAdvCallQty" class="form-control mt-1 shadow-sm" />
                                            <span asp-validation-for="PrdSrvAdvCallQty" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-6 mt-1">
                                            <label asp-for="SucCallQty" class="form-label mt-3"></label>
                                            <input asp-for="SucCallQty" class="form-control mt-1 shadow-sm" />
                                            <span asp-validation-for="SucCallQty" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-6 mt-1">
                                            <label asp-for="ToalInvestVol" class="form-label mt-3"></label>
                                            <input asp-for="ToalInvestVol" class="form-control mt-1 shadow-sm" />
                                            <span asp-validation-for="ToalInvestVol" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-6 mt-1">
                                            <label asp-for="ConversationRate" class="form-label mt-3"></label>
                                            <input asp-for="ConversationRate" class="form-control mt-1 shadow-sm" />
                                            <span asp-validation-for="ConversationRate" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-6 mt-1">
                                            <label asp-for="BounceRate" class="form-label mt-3"></label>
                                            <input asp-for="BounceRate" class="form-control mt-1 shadow-sm" />
                                            <span asp-validation-for="BounceRate" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-6 mt-1">
                                            <label asp-for="KeywordsRank" class="form-label mt-3"></label>
                                            <input asp-for="KeywordsRank" class="form-control mt-1 shadow-sm" />
                                            <span asp-validation-for="KeywordsRank" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-6 mt-1">
                                            <label asp-for="GoogleEntTerRate" class="form-label mt-3"></label>
                                            <input asp-for="GoogleEntTerRate" class="form-control mt-1 shadow-sm" />
                                            <span asp-validation-for="GoogleEntTerRate" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-6 mt-1">
                                            <label asp-for="LinkEntTerRate" class="form-label mt-3"></label>
                                            <input asp-for="LinkEntTerRate" class="form-control mt-1 shadow-sm" />
                                            <span asp-validation-for="LinkEntTerRate" class="text-danger"></span>
                                        </div>
                                    </div>

                                </form>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>

	</div>
</div>

@section Scripts {
	<script src="~/theme/assets/vendor/libs/jquery-sticky/jquery-sticky.js"></script>
	<script src="~/theme/assets/js/form-layouts.js"></script>

}



