@model IBshopDemo.Models.BranchRanking

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>BranchRanking</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BranchRankingId" class="control-label"></label>
                <input asp-for="BranchRankingId" class="form-control" />
                <span asp-validation-for="BranchRankingId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BranchId" class="control-label"></label>
                <input asp-for="BranchId" class="form-control" />
                <span asp-validation-for="BranchId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GanjinehRank" class="control-label"></label>
                <input asp-for="GanjinehRank" class="form-control" />
                <span asp-validation-for="GanjinehRank" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Andokhtehrank" class="control-label"></label>
                <input asp-for="Andokhtehrank" class="form-control" />
                <span asp-validation-for="Andokhtehrank" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServatRank" class="control-label"></label>
                <input asp-for="ServatRank" class="form-control" />
                <span asp-validation-for="ServatRank" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bimehrank" class="control-label"></label>
                <input asp-for="Bimehrank" class="form-control" />
                <span asp-validation-for="Bimehrank" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IBcrowdrank" class="control-label"></label>
                <input asp-for="IBcrowdrank" class="form-control" />
                <span asp-validation-for="IBcrowdrank" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Productrank" class="control-label"></label>
                <input asp-for="Productrank" class="form-control" />
                <span asp-validation-for="Productrank" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sandoghrank" class="control-label"></label>
                <input asp-for="Sandoghrank" class="form-control" />
                <span asp-validation-for="Sandoghrank" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SatisfactionRank" class="control-label"></label>
                <input asp-for="SatisfactionRank" class="form-control" />
                <span asp-validation-for="SatisfactionRank" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Servicerank" class="control-label"></label>
                <input asp-for="Servicerank" class="form-control" />
                <span asp-validation-for="Servicerank" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalRank" class="control-label"></label>
                <input asp-for="TotalRank" class="form-control" />
                <span asp-validation-for="TotalRank" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
