@model IBshopDemo.Models.OperationMonthlyReport

@{
    ViewData["Title"] = "Create";
}
<div class="content-wrapper">
	<!-- Content -->

	<div class="container-xxl flex-grow-1 container-p-y">
		<h4 class="py-3 mb-4">
			<span class="text-muted fw-light">Forms/</span>
			Sticky Actions
		</h4>
		<div class="row">
			<div class="col-12">
				<div class="card">
					<div id="sticky-wrapper" class="sticky-wrapper" style="height: 86.9375px;">
						<div class="card-header sticky-element bg-label-secondary d-flex justify-content-sm-between align-items-sm-center flex-column flex-sm-row" style="">
							<h5 class="card-title mb-sm-0 me-2">Sticky Action Bar</h5>
							<div class="action-btns">
								<a asp-action="Index">
									<button class="btn btn-label-primary me-3">
										<span class="align-middle">بازگشت به لیست</span>
									</button>
								</a>

								<button type="submit" class="btn btn-primary">
									ثبت
								</button>
							</div>
						</div>
					</div>
					<div class="card-body">
						<div class="row">
							<div class="col-lg-8 mx-auto">
								<form asp-action="Create">
									<div asp-validation-summary="ModelOnly" class="text-danger col-12"></div>
									<div class="row">
										<div class="form-group col-6 mt-1">
											<label asp-for="Oprmrid" class="form-label mt-3"></label>
											<input asp-for="Oprmrid" class="form-control mt-1 shadow-sm" />
											<span asp-validation-for="Oprmrid" class="text-danger"></span>
										</div>
										<div class="form-group col-6 mt-1">
											<label asp-for="Year" class="form-label mt-3"></label>
											<input asp-for="Year" class="form-control mt-1 shadow-sm" />
											<span asp-validation-for="Year" class="text-danger"></span>
										</div>
									</div>
									<div class="row">
										<div class="form-group col-6 mt-1">
											<label asp-for="MonthNumber" class="form-label mt-3"></label>
											<input asp-for="MonthNumber" class="form-control mt-1 shadow-sm" />
											<span asp-validation-for="MonthNumber" class="text-danger"></span>
										</div>
										<div class="form-group col-6 mt-1">
											<label asp-for="Month" class="form-label mt-3"></label>
											<input asp-for="Month" class="form-control mt-1 shadow-sm" />
											<span asp-validation-for="Month" class="text-danger"></span>
										</div>
									</div>
									<div class="row">
										<div class="form-group col-6 mt-1">
											<label asp-for="BillConflictReqQty" class="form-label mt-3"></label>
											<input asp-for="BillConflictReqQty" class="form-control mt-1 shadow-sm" />
											<span asp-validation-for="BillConflictReqQty" class="text-danger"></span>
										</div>
										<div class="form-group col-6 mt-1">
											<label asp-for="PoseConflictReqQty" class="form-label mt-3"></label>
											<input asp-for="PoseConflictReqQty" class="form-control mt-1 shadow-sm" />
											<span asp-validation-for="PoseConflictReqQty" class="text-danger"></span>
										</div>
									</div>
									<div class="row">
										<div class="form-group col-6 mt-1">
											<label asp-for="SmsinternetConflictReqQty" class="form-label mt-3"></label>
											<input asp-for="SmsinternetConflictReqQty" class="form-control mt-1 shadow-sm" />
											<span asp-validation-for="SmsinternetConflictReqQty" class="text-danger"></span>
										</div>
										<div class="form-group col-6 mt-1">
											<label asp-for="BranchInternetConflictReqQty" class="form-label mt-3"></label>
											<input asp-for="BranchInternetConflictReqQty" class="form-control mt-1 shadow-sm" />
											<span asp-validation-for="BranchInternetConflictReqQty" class="text-danger"></span>
										</div>
									</div>
									<div class="row">
										<div class="form-group col-6 mt-1">
											<label asp-for="IntternetEntranceConflictReq" class="form-label mt-3"></label>
											<input asp-for="IntternetEntranceConflictReq" class="form-control mt-1 shadow-sm" />
											<span asp-validation-for="IntternetEntranceConflictReq" class="text-danger"></span>
										</div>
										<div class="form-group col-6 mt-1">
											<label asp-for="FixedConflictQty" class="form-label mt-3"></label>
											<input asp-for="FixedConflictQty" class="form-control mt-1 shadow-sm" />
											<span asp-validation-for="FixedConflictQty" class="text-danger"></span>
										</div>
									</div>
									<div class="row">
										<div class="form-group col-6 mt-1">
											<label asp-for="TotalConflictsProcess" class="form-label mt-3"></label>
											<input asp-for="TotalConflictsProcess" class="form-control mt-1 shadow-sm" />
											<span asp-validation-for="TotalConflictsProcess" class="text-danger"></span>
										</div>
										<div class="form-group col-6 mt-1">
											<label asp-for="BkgNewCustomer" class="form-label mt-3"></label>
											<input asp-for="BkgNewCustomer" class="form-control mt-1 shadow-sm" />
											<span asp-validation-for="BkgNewCustomer" class="text-danger"></span>
										</div>
									</div>
									<div class="row">
										<div class="form-group col-6 mt-1">
											<label asp-for="BkgReqCnfqty" class="form-label mt-3"></label>
											<input asp-for="BkgReqCnfqty" class="form-control mt-1 shadow-sm" />
											<span asp-validation-for="BkgReqCnfqty" class="text-danger"></span>
										</div>
										<div class="form-group col-6 mt-1">
											<label asp-for="BkgCrdVol" class="form-label mt-3"></label>
											<input asp-for="BkgCrdVol" class="form-control mt-1 shadow-sm" />
											<span asp-validation-for="BkgCrdVol" class="text-danger"></span>
										</div>
									</div>
									<div class="row">
										<div class="form-group col-6 mt-1">
											<label asp-for="BkgCrdQty" class="form-label mt-3"></label>
											<input asp-for="BkgCrdQty" class="form-control mt-1 shadow-sm" />
											<span asp-validation-for="BkgCrdQty" class="text-danger"></span>
										</div>
										<div class="form-group col-6 mt-1">
											<label asp-for="TotalIbcardIssuesVol" class="form-label mt-3"></label>
											<input asp-for="TotalIbcardIssuesVol" class="form-control mt-1 shadow-sm" />
											<span asp-validation-for="TotalIbcardIssuesVol" class="text-danger"></span>
										</div>
									</div>
									<div class="row">
										<div class="form-group col-6 mt-1">
											<label asp-for="TotalIbcardIssuesQty" class="form-label mt-3"></label>
											<input asp-for="TotalIbcardIssuesQty" class="form-control mt-1 shadow-sm" />
											<span asp-validation-for="TotalIbcardIssuesQty" class="text-danger"></span>
										</div>
										<div class="form-group col-6 mt-1">
											<label asp-for="TotalTransferVol" class="form-label mt-3"></label>
											<input asp-for="TotalTransferVol" class="form-control mt-1 shadow-sm" />
											<span asp-validation-for="TotalTransferVol" class="text-danger"></span>
										</div>
									</div>
									<div class="row">
										<div class="form-group col-6 mt-1">
											<label asp-for="TotalmsgQty" class="form-label mt-3"></label>
											<input asp-for="TotalmsgQty" class="form-control mt-1 shadow-sm" />
											<span asp-validation-for="TotalmsgQty" class="text-danger"></span>
										</div>
										<div class="form-group col-6 mt-1">
											<label asp-for="RemotChcAut" class="form-label mt-3"></label>
											<input asp-for="RemotChcAut" class="form-control mt-1 shadow-sm" />
											<span asp-validation-for="RemotChcAut" class="text-danger"></span>
										</div>
									</div>
									<div class="row">
										<div class="form-group col-6 mt-1">
											<label asp-for="TotalEditAcc" class="form-label mt-3"></label>
											<input asp-for="TotalEditAcc" class="form-control mt-1 shadow-sm" />
											<span asp-validation-for="TotalEditAcc" class="text-danger"></span>
										</div>
										<div class="form-group col-6 mt-1">
											<label asp-for="TotalIdeEdit" class="form-label mt-3"></label>
											<input asp-for="TotalIdeEdit" class="form-control mt-1 shadow-sm" />
											<span asp-validation-for="TotalIdeEdit" class="text-danger"></span>
										</div>
									</div>
									<div class="row">
										<div class="form-group col-6 mt-1">
											<label asp-for="TotalLegAut" class="form-label mt-3"></label>
											<input asp-for="TotalLegAut" class="form-control mt-1 shadow-sm" />
											<span asp-validation-for="TotalLegAut" class="text-danger"></span>
										</div>
										<div class="form-group col-6 mt-1">
											<label asp-for="TotalChcSejam" class="form-label mt-3"></label>
											<input asp-for="TotalChcSejam" class="form-control mt-1 shadow-sm" />
											<span asp-validation-for="TotalChcSejam" class="text-danger"></span>
										</div>
									</div>
									<div class="row">
										<div class="form-group col-6 mt-1">
											<label asp-for="TotalIssuCrt" class="form-label mt-3"></label>
											<input asp-for="TotalIssuCrt" class="form-control mt-1 shadow-sm" />
											<span asp-validation-for="TotalIssuCrt" class="text-danger"></span>
										</div>
										<div class="form-group col-6 mt-1">
											<label asp-for="AbCganjinehTamaddon" class="form-label mt-3"></label>
											<input asp-for="AbCganjinehTamaddon" class="form-control mt-1 shadow-sm" />
											<span asp-validation-for="AbCganjinehTamaddon" class="text-danger"></span>
										</div>
									</div>
									<div class="row">
										<div class="form-group col-6 mt-1">
											<label asp-for="AbCganjinehTamaddonRe" class="form-label mt-3"></label>
											<input asp-for="AbCganjinehTamaddonRe" class="form-control mt-1 shadow-sm" />
											<span asp-validation-for="AbCganjinehTamaddonRe" class="text-danger"></span>
										</div>
										<div class="form-group col-6 mt-1">
											<label asp-for="AbCganjinehShahr" class="form-label mt-3"></label>
											<input asp-for="AbCganjinehShahr" class="form-control mt-1 shadow-sm" />
											<span asp-validation-for="AbCganjinehShahr" class="text-danger"></span>
										</div>
									</div>
									<div class="row">
										<div class="form-group col-6 mt-1">
											<label asp-for="AbCganjinehShahrRe" class="form-label mt-3"></label>
											<input asp-for="AbCganjinehShahrRe" class="form-control mt-1 shadow-sm" />
											<span asp-validation-for="AbCganjinehShahrRe" class="text-danger"></span>
										</div>
										<div class="form-group col-6 mt-1">
											<label asp-for="AbCganjinehSandogh" class="form-label mt-3"></label>
											<input asp-for="AbCganjinehSandogh" class="form-control mt-1 shadow-sm" />
											<span asp-validation-for="AbCganjinehSandogh" class="text-danger"></span>
										</div>
									</div>
									<div class="row">
										<div class="form-group col-6 mt-1">
											<label asp-for="AbCganjinehSandoghRe" class="form-label mt-3"></label>
											<input asp-for="AbCganjinehSandoghRe" class="form-control mt-1 shadow-sm" />
											<span asp-validation-for="AbCganjinehSandoghRe" class="text-danger"></span>
										</div>
										<div class="form-group col-6 mt-1">
											<label asp-for="AbCganjinehSamaneh" class="form-label mt-3"></label>
											<input asp-for="AbCganjinehSamaneh" class="form-control mt-1 shadow-sm" />
											<span asp-validation-for="AbCganjinehSamaneh" class="text-danger"></span>
										</div>
									</div>
									<div class="row">
										<div class="form-group col-6 mt-1">
											<label asp-for="AbCganjinehSamanehRe" class="form-label mt-3"></label>
											<input asp-for="AbCganjinehSamanehRe" class="form-control mt-1 shadow-sm" />
											<span asp-validation-for="AbCganjinehSamanehRe" class="text-danger"></span>
										</div>
										<div class="form-group col-6 mt-1">
											<label asp-for="AbCganjinehBranches" class="form-label mt-3"></label>
											<input asp-for="AbCganjinehBranches" class="form-control mt-1 shadow-sm" />
											<span asp-validation-for="AbCganjinehBranches" class="text-danger"></span>
										</div>
									</div>
									<div class="row">
										<div class="form-group col-6 mt-1">
											<label asp-for="AbCganjinehBranchesRe" class="form-label mt-3"></label>
											<input asp-for="AbCganjinehBranchesRe" class="form-control mt-1 shadow-sm" />
											<span asp-validation-for="AbCganjinehBranchesRe" class="text-danger"></span>
										</div>
										<div class="form-group col-6 mt-1">
											<label asp-for="AbCganjinehShahrnet" class="form-label mt-3"></label>
											<input asp-for="AbCganjinehShahrnet" class="form-control mt-1 shadow-sm" />
											<span asp-validation-for="AbCganjinehShahrnet" class="text-danger"></span>
										</div>
									</div>
									<div class="row">
										<div class="form-group col-6 mt-1">
											<label asp-for="AbCganjinehShahrnetRe" class="form-label mt-3"></label>
											<input asp-for="AbCganjinehShahrnetRe" class="form-control mt-1 shadow-sm" />
											<span asp-validation-for="AbCganjinehShahrnetRe" class="text-danger"></span>
										</div>
										<div class="form-group col-6 mt-1">
											<label asp-for="AbCganjinehTotal" class="form-label mt-3"></label>
											<input asp-for="AbCganjinehTotal" class="form-control mt-1 shadow-sm" />
											<span asp-validation-for="AbCganjinehTotal" class="text-danger"></span>
										</div>
									</div>
									<div class="row">
										<div class="form-group col-6 mt-1">
											<label asp-for="AbCganjinehTotalRe" class="form-label mt-3"></label>
											<input asp-for="AbCganjinehTotalRe" class="form-control mt-1 shadow-sm" />
											<span asp-validation-for="AbCganjinehTotalRe" class="text-danger"></span>
										</div>
										<div class="form-group col-6 mt-1">
											<label asp-for="AbCandookhtehTamaddon" class="form-label mt-3"></label>
											<input asp-for="AbCandookhtehTamaddon" class="form-control mt-1 shadow-sm" />
											<span asp-validation-for="AbCandookhtehTamaddon" class="text-danger"></span>
										</div>
									</div>
									<div class="row">
										<div class="form-group col-6 mt-1">
											<label asp-for="AbCandookhtehTamaddonRe" class="form-label mt-3"></label>
											<input asp-for="AbCandookhtehTamaddonRe" class="form-control mt-1 shadow-sm" />
											<span asp-validation-for="AbCandookhtehTamaddonRe" class="text-danger"></span>
										</div>
										<div class="form-group col-6 mt-1">
											<label asp-for="AbCandookhtehShahr" class="form-label mt-3"></label>
											<input asp-for="AbCandookhtehShahr" class="form-control mt-1 shadow-sm" />
											<span asp-validation-for="AbCandookhtehShahr" class="text-danger"></span>
										</div>
									</div>
									<div class="row">
										<div class="form-group col-6 mt-1">
											<label asp-for="AbCandookhtehShahrRe" class="form-label mt-3"></label>
											<input asp-for="AbCandookhtehShahrRe" class="form-control mt-1 shadow-sm" />
											<span asp-validation-for="AbCandookhtehShahrRe" class="text-danger"></span>
										</div>
										<div class="form-group col-6 mt-1">
											<label asp-for="AbCandookhtehOtherBanks" class="form-label mt-3"></label>
											<input asp-for="AbCandookhtehOtherBanks" class="form-control mt-1 shadow-sm" />
											<span asp-validation-for="AbCandookhtehOtherBanks" class="text-danger"></span>
										</div>
									</div>
									<div class="row">
										<div class="form-group col-6 mt-1">
											<label asp-for="AbCandookhtehOtherBanksRe" class="form-label mt-3"></label>
											<input asp-for="AbCandookhtehOtherBanksRe" class="form-control mt-1 shadow-sm" />
											<span asp-validation-for="AbCandookhtehOtherBanksRe" class="text-danger"></span>
										</div>
										<div class="form-group col-6 mt-1">
											<label asp-for="AbCandookhtehSandogh" class="form-label mt-3"></label>
											<input asp-for="AbCandookhtehSandogh" class="form-control mt-1 shadow-sm" />
											<span asp-validation-for="AbCandookhtehSandogh" class="text-danger"></span>
										</div>
									</div>
									<div class="row">
										<div class="form-group col-6 mt-1">
											<label asp-for="AbCandookhtehSandoghRe" class="form-label mt-3"></label>
											<input asp-for="AbCandookhtehSandoghRe" class="form-control mt-1 shadow-sm" />
											<span asp-validation-for="AbCandookhtehSandoghRe" class="text-danger"></span>
										</div>
										<div class="form-group col-6 mt-1">
											<label asp-for="AbCandookhtehSamaneh" class="form-label mt-3"></label>
											<input asp-for="AbCandookhtehSamaneh" class="form-control mt-1 shadow-sm" />
											<span asp-validation-for="AbCandookhtehSamaneh" class="text-danger"></span>
										</div>
									</div>
									<div class="row">
										<div class="form-group col-6 mt-1">
											<label asp-for="AbCandookhtehSamanehRe" class="form-label mt-3"></label>
											<input asp-for="AbCandookhtehSamanehRe" class="form-control mt-1 shadow-sm" />
											<span asp-validation-for="AbCandookhtehSamanehRe" class="text-danger"></span>
										</div>
										<div class="form-group col-6 mt-1">
											<label asp-for="AbCandookhtehBranch" class="form-label mt-3"></label>
											<input asp-for="AbCandookhtehBranch" class="form-control mt-1 shadow-sm" />
											<span asp-validation-for="AbCandookhtehBranch" class="text-danger"></span>
										</div>
									</div>
									<div class="row">
										<div class="form-group col-6 mt-1">
											<label asp-for="AbCandookhtehBranchRe" class="form-label mt-3"></label>
											<input asp-for="AbCandookhtehBranchRe" class="form-control mt-1 shadow-sm" />
											<span asp-validation-for="AbCandookhtehBranchRe" class="text-danger"></span>
										</div>
										<div class="form-group col-6 mt-1">
											<label asp-for="AbCandookhtehShahrnet" class="form-label mt-3"></label>
											<input asp-for="AbCandookhtehShahrnet" class="form-control mt-1 shadow-sm" />
											<span asp-validation-for="AbCandookhtehShahrnet" class="text-danger"></span>
										</div>
									</div>
									<div class="row">
										<div class="form-group col-6 mt-1">
											<label asp-for="AbCandookhtehShahrnetRe" class="form-label mt-3"></label>
											<input asp-for="AbCandookhtehShahrnetRe" class="form-control mt-1 shadow-sm" />
											<span asp-validation-for="AbCandookhtehShahrnetRe" class="text-danger"></span>
										</div>
										<div class="form-group col-6 mt-1">
											<label asp-for="AbCandookhtehTotal" class="form-label mt-3"></label>
											<input asp-for="AbCandookhtehTotal" class="form-control mt-1 shadow-sm" />
											<span asp-validation-for="AbCandookhtehTotal" class="text-danger"></span>
										</div>
									</div>
									<div class="row">
										<div class="form-group col-6 mt-1">
											<label asp-for="AbCandookhtehTotalRe" class="form-label mt-3"></label>
											<input asp-for="AbCandookhtehTotalRe" class="form-control mt-1 shadow-sm" />
											<span asp-validation-for="AbCandookhtehTotalRe" class="text-danger"></span>
										</div>
										<div class="form-group col-6 mt-1">
											<label asp-for="AbCservatTamaddon" class="form-label mt-3"></label>
											<input asp-for="AbCservatTamaddon" class="form-control mt-1 shadow-sm" />
											<span asp-validation-for="AbCservatTamaddon" class="text-danger"></span>
										</div>
									</div>
									<div class="row">
										<div class="form-group col-6 mt-1">
											<label asp-for="AbCservatTamaddonRe" class="form-label mt-3"></label>
											<input asp-for="AbCservatTamaddonRe" class="form-control mt-1 shadow-sm" />
											<span asp-validation-for="AbCservatTamaddonRe" class="text-danger"></span>
										</div>
										<div class="form-group col-6 mt-1">
											<label asp-for="AbCservatSamaneh" class="form-label mt-3"></label>
											<input asp-for="AbCservatSamaneh" class="form-control mt-1 shadow-sm" />
											<span asp-validation-for="AbCservatSamaneh" class="text-danger"></span>
										</div>
									</div>
									<div class="row">
										<div class="form-group col-6 mt-1">
											<label asp-for="AbCservatSamanehRe" class="form-label mt-3"></label>
											<input asp-for="AbCservatSamanehRe" class="form-control mt-1 shadow-sm" />
											<span asp-validation-for="AbCservatSamanehRe" class="text-danger"></span>
										</div>
										<div class="form-group col-6 mt-1">
											<label asp-for="AbCservatBranch" class="form-label mt-3"></label>
											<input asp-for="AbCservatBranch" class="form-control mt-1 shadow-sm" />
											<span asp-validation-for="AbCservatBranch" class="text-danger"></span>
										</div>
									</div>

									<div class="row">
										<div class="form-group col-6 mt-1">
											<label asp-for="AbCservatBranchRe" class="form-label mt-3"></label>
											<input asp-for="AbCservatBranchRe" class="form-control mt-1 shadow-sm" />
											<span asp-validation-for="AbCservatBranchRe" class="text-danger"></span>
										</div>
										<div class="form-group col-6 mt-1">
											<label asp-for="AbCservatSandogh" class="form-label mt-3"></label>
											<input asp-for="AbCservatSandogh" class="form-control mt-1 shadow-sm" />
											<span asp-validation-for="AbCservatSandogh" class="text-danger"></span>
										</div>
									</div>
									<div class="row">
										<div class="form-group col-6 mt-1">
											<label asp-for="AbCservatSandoghRe" class="form-label mt-3"></label>
											<input asp-for="AbCservatSandoghRe" class="form-control mt-1 shadow-sm" />
											<span asp-validation-for="AbCservatSandoghRe" class="text-danger"></span>
										</div>
										<div class="form-group col-6 mt-1">
											<label asp-for="AbCservatTotal" class="form-label mt-3"></label>
											<input asp-for="AbCservatTotal" class="form-control mt-1 shadow-sm" />
											<span asp-validation-for="AbCservatTotal" class="text-danger"></span>
										</div>
									</div>
									<div class="row">
										<div class="form-group col-6 mt-1">
											<label asp-for="AbCservatTotalRe" class="form-label mt-3"></label>
											<input asp-for="AbCservatTotalRe" class="form-control mt-1 shadow-sm" />
											<span asp-validation-for="AbCservatTotalRe" class="text-danger"></span>
										</div>
										<div class="form-group col-6 mt-1">
											<label asp-for="AbCgoharTamaddon" class="form-label mt-3"></label>
											<input asp-for="AbCgoharTamaddon" class="form-control mt-1 shadow-sm" />
											<span asp-validation-for="AbCgoharTamaddon" class="text-danger"></span>
										</div>
									</div>
									<div class="row">
										<div class="form-group col-6 mt-1">
											<label asp-for="AbCgoharTamaddonRe" class="form-label mt-3"></label>
											<input asp-for="AbCgoharTamaddonRe" class="form-control mt-1 shadow-sm" />
											<span asp-validation-for="AbCgoharTamaddonRe" class="text-danger"></span>
										</div>
										<div class="form-group col-6 mt-1">
											<label asp-for="AbCgoharSamaneh" class="form-label mt-3"></label>
											<input asp-for="AbCgoharSamaneh" class="form-control mt-1 shadow-sm" />
											<span asp-validation-for="AbCgoharSamaneh" class="text-danger"></span>
										</div>
									</div>
									<div class="row">
										<div class="form-group col-6 mt-1">
											<label asp-for="AbCgoharSamanehRe" class="form-label mt-3"></label>
											<input asp-for="AbCgoharSamanehRe" class="form-control mt-1 shadow-sm" />
											<span asp-validation-for="AbCgoharSamanehRe" class="text-danger"></span>
										</div>
										<div class="form-group col-6 mt-1">
											<label asp-for="AbCgoharBranch" class="form-label mt-3"></label>
											<input asp-for="AbCgoharBranch" class="form-control mt-1 shadow-sm" />
											<span asp-validation-for="AbCgoharBranch" class="text-danger"></span>
										</div>
									</div>
									<div class="row">
										<div class="form-group col-6 mt-1">
											<label asp-for="AbCgoharBranchRe" class="form-label mt-3"></label>
											<input asp-for="AbCgoharBranchRe" class="form-control mt-1 shadow-sm" />
											<span asp-validation-for="AbCgoharBranchRe" class="text-danger"></span>
										</div>
										<div class="form-group col-6 mt-1">
											<label asp-for="AbCgoharSandogh" class="form-label mt-3"></label>
											<input asp-for="AbCgoharSandogh" class="form-control mt-1 shadow-sm" />
											<span asp-validation-for="AbCgoharSandogh" class="text-danger"></span>
										</div>
									</div>
									<div class="row">
										<div class="form-group col-6 mt-1">
											<label asp-for="AbCgoharSandoghRe" class="form-label mt-3"></label>
											<input asp-for="AbCgoharSandoghRe" class="form-control mt-1 shadow-sm" />
											<span asp-validation-for="AbCgoharSandoghRe" class="text-danger"></span>
										</div>
										<div class="form-group col-6 mt-1">
											<label asp-for="AbCgoharTotal" class="form-label mt-3"></label>
											<input asp-for="AbCgoharTotal" class="form-control mt-1 shadow-sm" />
											<span asp-validation-for="AbCgoharTotal" class="text-danger"></span>
										</div>
									</div>
									<div class="row">
										<div class="form-group col-6 mt-1">
											<label asp-for="AbCgoharTotalRe" class="form-label mt-3"></label>
											<input asp-for="AbCgoharTotalRe" class="form-control mt-1 shadow-sm" />
											<span asp-validation-for="AbCgoharTotalRe" class="text-danger"></span>
										</div>
									</div>

								</form>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>

	</div>
</div>

@section Scripts {
	<script src="~/theme/assets/vendor/libs/jquery-sticky/jquery-sticky.js"></script>
	<script src="~/theme/assets/js/form-layouts.js"></script>

}

