@model IBshopDemo.Models.Kpiplanning

@{
    ViewData["Title"] = "Create";
}

<style>
    div.card {
        border-bottom: 3px solid green;
        border-top: 3px solid green;
        border-radius: 1.25rem !important;
    }

    .btn-create {
        font-size: 15px;
    }

</style>
<div class="row  p-3">
    <div class="row p-3">
        <h1>Create</h1>
        <h4>Kpiplanning</h4>
    </div>
    <hr />
    <div class="col-1"></div>
    <div class="col-10">
        <div class="card px-4 mt-3 shadow bg-white " style="direction:rtl">
            <div class="card-body  pt-5">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger col-12"></div>

                    <div class="row">
                        <div class="form-group col-6 mt-1">
                            <label asp-for="KpiplanCode" class="form-label mt-3"></label>
                            <input asp-for="KpiplanCode" class="form-control mt-1 shadow-sm" />
                            <span asp-validation-for="KpiplanCode" class="text-danger"></span>
                        </div>
                        <div class="form-group col-6 mt-1">
                            <label asp-for="DelonPrConf" class="form-label mt-3"></label>
                            <input asp-for="DelonPrConf" class="form-control mt-1 shadow-sm" />
                            <span asp-validation-for="DelonPrConf" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-6 mt-1">
                            <label asp-for="EffImpAct" class="form-label mt-3"></label>
                            <input asp-for="EffImpAct" class="form-control mt-1 shadow-sm" />
                            <span asp-validation-for="EffImpAct" class="text-danger"></span>
                        </div>
                        <div class="form-group col-6 mt-1">
                            <label asp-for="OtimpPercentage" class="form-label mt-3"></label>
                            <input asp-for="OtimpPercentage" class="form-control mt-1 shadow-sm" />
                            <span asp-validation-for="OtimpPercentage" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-6 mt-1">
                            <label asp-for="PrImPercent" class="form-label mt-3"></label>
                            <input asp-for="PrImPercent" class="form-control mt-1 shadow-sm" />
                            <span asp-validation-for="PrImPercent" class="text-danger"></span>
                        </div>
                        <div class="form-group col-6 mt-1">
                            <label asp-for="KmsavePercent" class="form-label mt-3"></label>
                            <input asp-for="KmsavePercent" class="form-control mt-1 shadow-sm" />
                            <span asp-validation-for="KmsavePercent" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-6 mt-1">
                            <label asp-for="ArchivePer" class="form-label mt-3"></label>
                            <input asp-for="ArchivePer" class="form-control mt-1 shadow-sm" />
                            <span asp-validation-for="ArchivePer" class="text-danger"></span>
                        </div>
                        <div class="form-group col-6 mt-1">
                            <label asp-for="Nps" class="form-label mt-3"></label>
                            <input asp-for="Nps" class="form-control mt-1 shadow-sm" />
                            <span asp-validation-for="Nps" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row m-5 pb-5">
                        <div class="form-group">
                            <a asp-action="Index" class="mt-4 me-3 float-end ">بازگشت به لیست</a>
                            <input type="submit" value="ثبت" class=" py-3 px-5 float-start btn btn-outline-success me-3 btn-create" />
                        </div>
                    </div>

                </form>
            </div>
        </div>

    </div>
    <div class="col-1"></div>
</div>


        


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
