@model IBshopDemo.Models.FixIncomeProperty

@{
    ViewData["Title"] = "Create";
}

<style>
    div.card {
        border-bottom: 3px solid green;
        border-top: 3px solid green;
        border-radius: 1.25rem !important;
    }

    .btn-create {
        font-size: 15px;
    }

</style>
<div class="row  p-3">
    <div class="row p-3">
        <h1>Create</h1>
        <h4>FixIncomeProperty</h4>
    </div>
    <hr />
    <div class="col-1"></div>
    <div class="col-10">
        <div class="card px-4 mt-3 shadow bg-white " style="direction:rtl">
            <div class="card-body  pt-5">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger col-12"></div>
                    <div class="row">
                        <div class="form-group col-6 mt-1">
                            <label asp-for="FixIncomeId" class="form-label mt-3"></label>
                            <input asp-for="FixIncomeId" class="form-control mt-1 shadow-sm" />
                            <span asp-validation-for="FixIncomeId" class="text-danger"></span>
                        </div>
                        <div class="form-group col-6 mt-1">
                            <label asp-for="BrancheCode" class="form-label mt-3"></label>
                            <select asp-for="BrancheCode" class="form-control mt-1 shadow-sm" asp-items="ViewBag.BrancheCode"></select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-6 mt-1">
                            <label asp-for="InComeCenterId" class="form-label mt-3"></label>
                            <select asp-for="InComeCenterId" class="form-control mt-1 shadow-sm" asp-items="ViewBag.InComeCenterId"></select>
                        </div>
                        <div class="form-group col-6 mt-1">
                            <label asp-for="MonthNumber" class="form-label mt-3"></label>
                            <input asp-for="MonthNumber" class="form-control mt-1 shadow-sm" />
                            <span asp-validation-for="MonthNumber" class="text-danger"></span>
                        </div>
                    </div>
					<div class="row">
						<div class="form-group col-6 mt-1">
							<label asp-for="MonthName" class="form-label mt-3"></label>
							<input asp-for="MonthName" class="form-control mt-1 shadow-sm" />
							<span asp-validation-for="MonthName" class="text-danger"></span>
						</div>
						<div class="form-group col-6 mt-1">
							<label asp-for="CustomerQty" class="form-label mt-3"></label>
							<input asp-for="CustomerQty" class="form-control mt-1 shadow-sm" />
							<span asp-validation-for="CustomerQty" class="text-danger"></span>
						</div>
					</div>
					<div class="row">
						<div class="form-group col-6 mt-1">
							<label asp-for="GanjinehIssue" class="form-label mt-3"></label>
							<input asp-for="GanjinehIssue" class="form-control mt-1 shadow-sm" />
							<span asp-validation-for="GanjinehIssue" class="text-danger"></span>
						</div>
						<div class="form-group col-6 mt-1">
							<label asp-for="GanjinehRev" class="form-label mt-3"></label>
							<input asp-for="GanjinehRev" class="form-control mt-1 shadow-sm" />
							<span asp-validation-for="GanjinehRev" class="text-danger"></span>
						</div>
					</div>
					<div class="row">
						<div class="form-group col-6 mt-1">
							<label asp-for="AndookhtehIssue" class="form-label mt-3"></label>
							<input asp-for="AndookhtehIssue" class="form-control mt-1 shadow-sm" />
							<span asp-validation-for="AndookhtehIssue" class="text-danger"></span>
						</div>
						<div class="form-group col-6 mt-1">
							<label asp-for="AndookhtehRev" class="form-label mt-3"></label>
							<input asp-for="AndookhtehRev" class="form-control mt-1 shadow-sm" />
							<span asp-validation-for="AndookhtehRev" class="text-danger"></span>
						</div>
					</div>
					<div class="row">
						<div class="form-group col-6 mt-1">
							<label asp-for="VirIssueBillQty" class="form-label mt-3"></label>
							<input asp-for="VirIssueBillQty" class="form-control mt-1 shadow-sm" />
							<span asp-validation-for="VirIssueBillQty" class="text-danger"></span>
						</div>
						<div class="form-group col-6 mt-1">
							<label asp-for="VirIssueBillVol" class="form-label mt-3"></label>
							<input asp-for="VirIssueBillVol" class="form-control mt-1 shadow-sm" />
							<span asp-validation-for="VirIssueBillVol" class="text-danger"></span>
						</div>
					</div>
					<div class="row">
						<div class="form-group col-6 mt-1">
							<label asp-for="TotalIssue" class="form-label mt-3"></label>
							<input asp-for="TotalIssue" class="form-control mt-1 shadow-sm" />
							<span asp-validation-for="TotalIssue" class="text-danger"></span>
						</div>
						<div class="form-group col-6 mt-1">
							<label asp-for="TotalRev" class="form-label mt-3"></label>
							<input asp-for="TotalRev" class="form-control mt-1 shadow-sm" />
							<span asp-validation-for="TotalRev" class="text-danger"></span>
						</div>
					</div>

					<div class="row m-5 pb-5">
						<div class="form-group">
							<a asp-action="Index" class="mt-4 me-3 float-end ">بازگشت به لیست</a>
							<input type="submit" value="ثبت" class=" py-3 px-5 float-start btn btn-outline-success me-3 btn-create" />
						</div>
					</div>
                </form>
            </div>
        </div>
        
    </div>
    <div class="col-1"></div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
