@model IBshopDemo.Models.BranchesMonthlyReport

@{
    ViewData["Title"] = "Create";
}



<div class="content-wrapper">
    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="py-3 mb-4">
            <span class="text-muted fw-light">Forms/</span>
            Sticky Actions
        </h4>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div id="sticky-wrapper" class="sticky-wrapper" style="height: 86.9375px;">
                        <div class="card-header sticky-element bg-label-secondary d-flex justify-content-sm-between align-items-sm-center flex-column flex-sm-row" style="">
                            <h5 class="card-title mb-sm-0 me-2">Sticky Action Bar</h5>
                            <div class="action-btns">
                                <a asp-action="Index">
                                    <button class="btn btn-label-primary me-3">
                                        <span class="align-middle">بازگشت به لیست</span>
                                    </button>
                                </a>

                               <button type="submit" class="btn btn-primary submit">
                                    ثبت
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-8 mx-auto">
                                <form asp-action="Create" asp-controller="BranchesMonthlyReports" method="post" id="form">
                                    <div asp-validation-summary="ModelOnly" class="text-danger col-12"></div>

                                    <div class="row">
                                        <div class="form-group  col-6 mt-1">
                                            <label asp-for="BranchMonthlyReportId" class="form-label mt-3"></label>
                                            <input asp-for="BranchMonthlyReportId" class="form-control  mt-1 shadow-sm" />
                                            <span asp-validation-for="BranchMonthlyReportId" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-6 mt-1">
                                            <label asp-for="Year" class="form-label mt-3"></label>
                                            <input asp-for="Year" class="form-control mt-1 shadow-sm" />
                                            <span asp-validation-for="Year" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-6 mt-1">
                                            <label asp-for="Month" class=" form-label mt-3"></label>
                                            <input asp-for="Month" class="form-control mt-1 shadow-sm" />
                                            <span asp-validation-for="Month" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-6 mt-1">
                                            <label asp-for="MonthNumber" class=" form-label mt-3"></label>
                                            <input asp-for="MonthNumber" class="form-control mt-1 shadow-sm" />
                                            <span asp-validation-for="MonthNumber" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-6 mt-1">
                                            <label asp-for="IbcardConflictBranchQty" class=" form-label mt-3"></label>
                                            <input asp-for="IbcardConflictBranchQty" class="form-control mt-1 shadow-sm" />
                                            <span asp-validation-for="IbcardConflictBranchQty" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-6 mt-1">
                                            <label asp-for="IbcrowdConflictBranchQty" class=" form-label mt-3"></label>
                                            <input asp-for="IbcrowdConflictBranchQty" class="form-control mt-1 shadow-sm" />
                                            <span asp-validation-for="IbcrowdConflictBranchQty" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-6 mt-1">
                                            <label asp-for="IBcrowdKpiconflictQty" class=" form-label mt-3"></label>
                                            <input asp-for="IBcrowdKpiconflictQty" class="form-control mt-1 shadow-sm" />
                                            <span asp-validation-for="IBcrowdKpiconflictQty" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-6 mt-1">
                                            <label asp-for="CoursesQty" class=" form-label mt-3"></label>
                                            <input asp-for="CoursesQty" class="form-control mt-1 shadow-sm" />
                                            <span asp-validation-for="CoursesQty" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-6 mt-1">
                                            <label asp-for="OnlineExamsQty" class=" form-label mt-3"></label>
                                            <input asp-for="OnlineExamsQty" class="form-control mt-1 shadow-sm" />
                                            <span asp-validation-for="OnlineExamsQty" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-6 mt-1">
                                            <label asp-for="CoursesNeedQty" class=" form-label mt-3"></label>
                                            <input asp-for="CoursesNeedQty" class="form-control mt-1 shadow-sm" />
                                            <span asp-validation-for="CoursesNeedQty" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-6 mt-1">
                                            <label asp-for="ServicesToBranchQty" class=" form-label mt-3"></label>
                                            <input asp-for="ServicesToBranchQty" class="form-control mt-1 shadow-sm" />
                                            <span asp-validation-for="ServicesToBranchQty" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-6 mt-1">
                                            <label asp-for="CandstoDevelopmentQty" class=" form-label mt-3"></label>
                                            <input asp-for="CandstoDevelopmentQty" class="form-control mt-1 shadow-sm" />
                                            <span asp-validation-for="CandstoDevelopmentQty" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-6 mt-1">
                                            <label asp-for="ReportsConflictsToBranchQty" class=" form-label mt-3"></label>
                                            <input asp-for="ReportsConflictsToBranchQty" class="form-control mt-1 shadow-sm" />
                                            <span asp-validation-for="ReportsConflictsToBranchQty" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-6 mt-1">
                                            <label asp-for="InvestmentCapitalConflicts" class=" form-label mt-3"></label>
                                            <input asp-for="InvestmentCapitalConflicts" class="form-control mt-1 shadow-sm" />
                                            <span asp-validation-for="InvestmentCapitalConflicts" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-6 mt-1">
                                            <label asp-for="FacilityReqQty" class=" form-label mt-3"></label>
                                            <input asp-for="FacilityReqQty" class="form-control mt-1 shadow-sm" />
                                            <span asp-validation-for="FacilityReqQty" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-6 mt-1">
                                            <label asp-for="SwsolvedQty" class=" form-label mt-3"></label>
                                            <input asp-for="SwsolvedQty" class="form-control mt-1 shadow-sm" />
                                            <span asp-validation-for="SwsolvedQty" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-6 mt-1">
                                            <label asp-for="FundSettlementQty" class=" form-label mt-3"></label>
                                            <input asp-for="FundSettlementQty" class="form-control mt-1 shadow-sm" />
                                            <span asp-validation-for="FundSettlementQty" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-6 mt-1">
                                            <label asp-for="FundsConflictsQty" class=" form-label mt-3"></label>
                                            <input asp-for="FundsConflictsQty" class="form-control mt-1 shadow-sm" />
                                            <span asp-validation-for="FundsConflictsQty" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-6 mt-1">
                                            <label asp-for="SendtoBranch" class=" form-label mt-3"></label>
                                            <input asp-for="SendtoBranch" class="form-control mt-1 shadow-sm" />
                                            <span asp-validation-for="SendtoBranch" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-6 mt-1">
                                            <label asp-for="MrkpacTobranchQty" class=" form-label mt-3"></label>
                                            <input asp-for="MrkpacTobranchQty" class="form-control mt-1 shadow-sm" />
                                            <span asp-validation-for="MrkpacTobranchQty" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-6 mt-1">
                                            <label asp-for="CrttoCusQty" class=" form-label mt-3"></label>
                                            <input asp-for="CrttoCusQty" class="form-control mt-1 shadow-sm" />
                                            <span asp-validation-for="CrttoCusQty" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-6 mt-1">
                                            <label asp-for="InpersonBranchQty" class=" form-label mt-3"></label>
                                            <input asp-for="InpersonBranchQty" class="form-control mt-1 shadow-sm" />
                                            <span asp-validation-for="InpersonBranchQty" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-6 mt-1">
                                            <label asp-for="BranchTickects" class=" form-label mt-3"></label>
                                            <input asp-for="BranchTickects" class="form-control mt-1 shadow-sm" />
                                            <span asp-validation-for="BranchTickects" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-6 mt-1">
                                            <label asp-for="TicketConflictsQty" class=" form-label mt-3"></label>
                                            <input asp-for="TicketConflictsQty" class="form-control mt-1 shadow-sm" />
                                            <span asp-validation-for="TicketConflictsQty" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-6 mt-1">
                                            <label asp-for="BranchInfractionQty" class=" form-label mt-3"></label>
                                            <input asp-for="BranchInfractionQty" class="form-control mt-1 shadow-sm" />
                                            <span asp-validation-for="BranchInfractionQty" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-6 mt-1">
                                            <label asp-for="BranchReformQty" class=" form-label mt-3"></label>
                                            <input asp-for="BranchReformQty" class="form-control mt-1 shadow-sm" />
                                            <span asp-validation-for="BranchReformQty" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-6 mt-1">
                                            <label asp-for="BranchMonQty" class=" form-label mt-3"></label>
                                            <input asp-for="BranchMonQty" class="form-control mt-1 shadow-sm" />
                                            <span asp-validation-for="BranchMonQty" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-6 mt-1">
                                            <label asp-for="BranchCompCheckedQty" class=" form-label mt-3"></label>
                                            <input asp-for="BranchCompCheckedQty" class="form-control mt-1 shadow-sm" />
                                            <span asp-validation-for="BranchCompCheckedQty" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-6 mt-1">
                                            <label asp-for="AccBranchQty" class=" form-label mt-3"></label>
                                            <input asp-for="AccBranchQty" class="form-control mt-1 shadow-sm" />
                                            <span asp-validation-for="AccBranchQty" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-6 mt-1">
                                            <label asp-for="BranchCompQty" class=" form-label mt-3"></label>
                                            <input asp-for="BranchCompQty" class="form-control mt-1 shadow-sm" />
                                            <span asp-validation-for="BranchCompQty" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-6 mt-1">
                                            <label asp-for="BranchpersonnelQty" class=" form-label mt-3"></label>
                                            <input asp-for="BranchpersonnelQty" class="form-control mt-1 shadow-sm" />
                                            <span asp-validation-for="BranchpersonnelQty" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-6 mt-1">
                                            <label asp-for="PersonnelAssuranceReqQty" class=" form-label mt-3"></label>
                                            <input asp-for="PersonnelAssuranceReqQty" class="form-control mt-1 shadow-sm" />
                                            <span asp-validation-for="PersonnelAssuranceReqQty" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-6 mt-1">
                                            <label asp-for="PersonnelAdReqQty" class=" form-label mt-3"></label>
                                            <input asp-for="PersonnelAdReqQty" class="form-control mt-1 shadow-sm" />
                                            <span asp-validation-for="PersonnelAdReqQty" class="text-danger"></span>
                                        </div>

                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


@section Scripts {
    <script>
  
        $(document).ready(function(){
            $(".submit").click(function(ev){
                var form=$("#form");
                var url=form.attr('action');
                $.ajax({
                    type: "POST",
                    url: url,
                    data: form.serialize(),
                    success: function (data) {

                        // Ajax call completed successfully
                        alert("Form Submited Successfully");
                    },
                    error: function (data) {

                        // Some error in ajax call
                        alert("some Error");
                    }
                })
            })
        });
    </script>
    }