@model IBshopDemo.Models.BranchesMonthlyReport

@{
    ViewData["Title"] = "Edit";
}

<h1>ویراش</h1>

<h4> واحد امور شعب</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BranchMonthlyReportId" />
            <div class="form-group">
                <label asp-for="Year" class="control-label"></label>
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Month" class="control-label"></label>
                <input asp-for="Month" class="form-control" />
                <span asp-validation-for="Month" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MonthNumber" class="control-label"></label>
                <input asp-for="MonthNumber" class="form-control" />
                <span asp-validation-for="MonthNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IbcardConflictBranchQty" class="control-label"></label>
                <input asp-for="IbcardConflictBranchQty" class="form-control" />
                <span asp-validation-for="IbcardConflictBranchQty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IbcrowdConflictBranchQty" class="control-label"></label>
                <input asp-for="IbcrowdConflictBranchQty" class="form-control" />
                <span asp-validation-for="IbcrowdConflictBranchQty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IBcrowdKpiconflictQty" class="control-label"></label>
                <input asp-for="IBcrowdKpiconflictQty" class="form-control" />
                <span asp-validation-for="IBcrowdKpiconflictQty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CoursesQty" class="control-label"></label>
                <input asp-for="CoursesQty" class="form-control" />
                <span asp-validation-for="CoursesQty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OnlineExamsQty" class="control-label"></label>
                <input asp-for="OnlineExamsQty" class="form-control" />
                <span asp-validation-for="OnlineExamsQty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CoursesNeedQty" class="control-label"></label>
                <input asp-for="CoursesNeedQty" class="form-control" />
                <span asp-validation-for="CoursesNeedQty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServicesToBranchQty" class="control-label"></label>
                <input asp-for="ServicesToBranchQty" class="form-control" />
                <span asp-validation-for="ServicesToBranchQty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CandstoDevelopmentQty" class="control-label"></label>
                <input asp-for="CandstoDevelopmentQty" class="form-control" />
                <span asp-validation-for="CandstoDevelopmentQty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReportsConflictsToBranchQty" class="control-label"></label>
                <input asp-for="ReportsConflictsToBranchQty" class="form-control" />
                <span asp-validation-for="ReportsConflictsToBranchQty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InvestmentCapitalConflicts" class="control-label"></label>
                <input asp-for="InvestmentCapitalConflicts" class="form-control" />
                <span asp-validation-for="InvestmentCapitalConflicts" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FacilityReqQty" class="control-label"></label>
                <input asp-for="FacilityReqQty" class="form-control" />
                <span asp-validation-for="FacilityReqQty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SwsolvedQty" class="control-label"></label>
                <input asp-for="SwsolvedQty" class="form-control" />
                <span asp-validation-for="SwsolvedQty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FundSettlementQty" class="control-label"></label>
                <input asp-for="FundSettlementQty" class="form-control" />
                <span asp-validation-for="FundSettlementQty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FundsConflictsQty" class="control-label"></label>
                <input asp-for="FundsConflictsQty" class="form-control" />
                <span asp-validation-for="FundsConflictsQty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SendtoBranch" class="control-label"></label>
                <input asp-for="SendtoBranch" class="form-control" />
                <span asp-validation-for="SendtoBranch" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MrkpacTobranchQty" class="control-label"></label>
                <input asp-for="MrkpacTobranchQty" class="form-control" />
                <span asp-validation-for="MrkpacTobranchQty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CrttoCusQty" class="control-label"></label>
                <input asp-for="CrttoCusQty" class="form-control" />
                <span asp-validation-for="CrttoCusQty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InpersonBranchQty" class="control-label"></label>
                <input asp-for="InpersonBranchQty" class="form-control" />
                <span asp-validation-for="InpersonBranchQty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BranchTickects" class="control-label"></label>
                <input asp-for="BranchTickects" class="form-control" />
                <span asp-validation-for="BranchTickects" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TicketConflictsQty" class="control-label"></label>
                <input asp-for="TicketConflictsQty" class="form-control" />
                <span asp-validation-for="TicketConflictsQty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BranchInfractionQty" class="control-label"></label>
                <input asp-for="BranchInfractionQty" class="form-control" />
                <span asp-validation-for="BranchInfractionQty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BranchReformQty" class="control-label"></label>
                <input asp-for="BranchReformQty" class="form-control" />
                <span asp-validation-for="BranchReformQty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BranchMonQty" class="control-label"></label>
                <input asp-for="BranchMonQty" class="form-control" />
                <span asp-validation-for="BranchMonQty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BranchCompCheckedQty" class="control-label"></label>
                <input asp-for="BranchCompCheckedQty" class="form-control" />
                <span asp-validation-for="BranchCompCheckedQty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccBranchQty" class="control-label"></label>
                <input asp-for="AccBranchQty" class="form-control" />
                <span asp-validation-for="AccBranchQty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BranchCompQty" class="control-label"></label>
                <input asp-for="BranchCompQty" class="form-control" />
                <span asp-validation-for="BranchCompQty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BranchpersonnelQty" class="control-label"></label>
                <input asp-for="BranchpersonnelQty" class="form-control" />
                <span asp-validation-for="BranchpersonnelQty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonnelAssuranceReqQty" class="control-label"></label>
                <input asp-for="PersonnelAssuranceReqQty" class="form-control" />
                <span asp-validation-for="PersonnelAssuranceReqQty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonnelAdReqQty" class="control-label"></label>
                <input asp-for="PersonnelAdReqQty" class="form-control" />
                <span asp-validation-for="PersonnelAdReqQty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
