@model IBshopDemo.Models.FinancialSuperMarketMonthlyReport

@{
    ViewData["Title"] = "Create";
}


<div class="content-wrapper">
    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="py-3 mb-4">
            <span class="text-muted fw-light">افزودن/</span>
            گزارش جدید سوپرمارکت‌های مالی
        </h4>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div id="sticky-wrapper" class="sticky-wrapper" style="height: 86.9375px;">
                        <div class="card-header sticky-element bg-label-secondary d-flex justify-content-sm-between align-items-sm-center flex-column flex-sm-row" style="">
                            <h5 class="card-title mb-sm-0 me-2">سوپرمارکت‌های مالی</h5>
                            <div class="action-btns">
                                <a asp-action="Index">
                                    <button class="btn btn-label-primary me-3">
                                        <span class="align-middle">بازگشت به لیست</span>
                                    </button>
                                </a>

                               <button type="submit" class="btn btn-primary submit">
                                    ثبت
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-8 mx-auto">
                                <form asp-action="Create" asp-controller="FinancialSuperMarketMonthlyReports" method="post" id="formFinancialSuperMarketMonthlyReport">
                                    <div asp-validation-summary="ModelOnly" class="text-danger col-12"></div>
                                    <div class="row">
                                        <div class="form-group col-6 mt-1">
                                            <label asp-for="Year" class="form-label mt-3"></label>
                                            <input asp-for="Year" class="form-control mt-1 shadow-sm" />
                                            <span asp-validation-for="Year" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-6 mt-1">
                                            <label asp-for="Month" class="form-label mt-3"></label>
                                            <input asp-for="Month" class="form-control mt-1 shadow-sm" />
                                            <span asp-validation-for="Month" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-6 mt-1">
                                            <label asp-for="MonthNumber" class="form-label mt-3"></label>
                                            <input asp-for="MonthNumber" class="form-control mt-1 shadow-sm" />
                                            <span asp-validation-for="MonthNumber" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-6 mt-1">
                                            <label asp-for="CustomersReplyQty" class="form-label mt-3"></label>
                                            <input asp-for="CustomersReplyQty" class="form-control mt-1 shadow-sm" />
                                            <span asp-validation-for="CustomersReplyQty" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-6 mt-1">
                                            <label asp-for="IbshoppRegisterQty" class="form-label mt-3"></label>
                                            <input asp-for="IbshoppRegisterQty" class="form-control mt-1 shadow-sm" />
                                            <span asp-validation-for="IbshoppRegisterQty" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-6 mt-1">
                                            <label asp-for="AuthenticationQty" class="form-label mt-3"></label>
                                            <input asp-for="AuthenticationQty" class="form-control mt-1 shadow-sm" />
                                            <span asp-validation-for="AuthenticationQty" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-6 mt-1">
                                            <label asp-for="ActivationQty" class="form-label mt-3"></label>
                                            <input asp-for="ActivationQty" class="form-control mt-1 shadow-sm" />
                                            <span asp-validation-for="ActivationQty" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-6 mt-1">
                                            <label asp-for="ReportForCustomerC" class="form-label mt-3"></label>
                                            <input asp-for="ReportForCustomerC" class="form-control mt-1 shadow-sm" />
                                            <span asp-validation-for="ReportForCustomerC" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-6 mt-1">
                                            <label asp-for="ReportForCustomerF" class="form-label mt-3"></label>
                                            <input asp-for="ReportForCustomerF" class="form-control mt-1 shadow-sm" />
                                            <span asp-validation-for="ReportForCustomerF" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-6 mt-1">
                                            <label asp-for="GanjinehIssueReqQty" class="form-label mt-3"></label>
                                            <input asp-for="GanjinehIssueReqQty" class="form-control mt-1 shadow-sm" />
                                            <span asp-validation-for="GanjinehIssueReqQty" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-6 mt-1">
                                            <label asp-for="GanjinehIssuesVol" class="form-label mt-3"></label>
                                            <input asp-for="GanjinehIssuesVol" class="form-control mt-1 shadow-sm" />
                                            <span asp-validation-for="GanjinehIssuesVol" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-6 mt-1">
                                            <label asp-for="AndookhtehIssueReqQty" class="form-label mt-3"></label>
                                            <input asp-for="AndookhtehIssueReqQty" class="form-control mt-1 shadow-sm" />
                                            <span asp-validation-for="AndookhtehIssueReqQty" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-6 mt-1">
                                            <label asp-for="AndookhtehIssuesVol" class="form-label mt-3"></label>
                                            <input asp-for="AndookhtehIssuesVol" class="form-control mt-1 shadow-sm" />
                                            <span asp-validation-for="AndookhtehIssuesVol" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-6 mt-1">
                                            <label asp-for="GoharandServatIssueReqQty" class="form-label mt-3"></label>
                                            <input asp-for="GoharandServatIssueReqQty" class="form-control mt-1 shadow-sm" />
                                            <span asp-validation-for="GoharandServatIssueReqQty" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-6 mt-1">
                                            <label asp-for="GohrandServatIssuesVol" class="form-label mt-3"></label>
                                            <input asp-for="GohrandServatIssuesVol" class="form-control mt-1 shadow-sm" />
                                            <span asp-validation-for="GohrandServatIssuesVol" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-6 mt-1">
                                            <label asp-for="GanjinehRevokeReqQty" class="form-label mt-3"></label>
                                            <input asp-for="GanjinehRevokeReqQty" class="form-control mt-1 shadow-sm" />
                                            <span asp-validation-for="GanjinehRevokeReqQty" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-6 mt-1">
                                            <label asp-for="GanjinehRevokeVol" class="form-label mt-3"></label>
                                            <input asp-for="GanjinehRevokeVol" class="form-control mt-1 shadow-sm" />
                                            <span asp-validation-for="GanjinehRevokeVol" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-6 mt-1">
                                            <label asp-for="AndookhtehRevokeReqQty" class="form-label mt-3"></label>
                                            <input asp-for="AndookhtehRevokeReqQty" class="form-control mt-1 shadow-sm" />
                                            <span asp-validation-for="AndookhtehRevokeReqQty" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-6 mt-1">
                                            <label asp-for="AndookhtehRevokeVol" class="form-label mt-3"></label>
                                            <input asp-for="AndookhtehRevokeVol" class="form-control mt-1 shadow-sm" />
                                            <span asp-validation-for="AndookhtehRevokeVol" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-6 mt-1">
                                            <label asp-for="GoharandServatRevokeReqQty" class="form-label mt-3"></label>
                                            <input asp-for="GoharandServatRevokeReqQty" class="form-control mt-1 shadow-sm" />
                                            <span asp-validation-for="GoharandServatRevokeReqQty" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-6 mt-1">
                                            <label asp-for="GohrandServatRevokeVol" class="form-label mt-3"></label>
                                            <input asp-for="GohrandServatRevokeVol" class="form-control mt-1 shadow-sm" />
                                            <span asp-validation-for="GohrandServatRevokeVol" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-6 mt-1">
                                            <label asp-for="TotIsuuVol" class="form-label mt-3"></label>
                                            <input asp-for="TotIsuuVol" class="form-control mt-1 shadow-sm" />
                                            <span asp-validation-for="TotIsuuVol" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-6 mt-1">
                                            <label asp-for="TotRevVol" class="form-label mt-3"></label>
                                            <input asp-for="TotRevVol" class="form-control mt-1 shadow-sm" />
                                            <span asp-validation-for="TotRevVol" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-6 mt-1">
                                            <label asp-for="EditQty" class="form-label mt-3"></label>
                                            <input asp-for="EditQty" class="form-control mt-1 shadow-sm" />
                                            <span asp-validation-for="EditQty" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-6 mt-1">
                                            <label asp-for="LegalServQty" class="form-label mt-3"></label>
                                            <input asp-for="LegalServQty" class="form-control mt-1 shadow-sm" />
                                            <span asp-validation-for="LegalServQty" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-6 mt-1">
                                            <label asp-for="CardIssuanceQty" class="form-label mt-3"></label>
                                            <input asp-for="CardIssuanceQty" class="form-control mt-1 shadow-sm" />
                                            <span asp-validation-for="CardIssuanceQty" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-6 mt-1">
                                            <label asp-for="TotalIbcardVol" class="form-label mt-3"></label>
                                            <input asp-for="TotalIbcardVol" class="form-control mt-1 shadow-sm" />
                                            <span asp-validation-for="TotalIbcardVol" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-6 mt-1">
                                            <label asp-for="InvestorsQty" class="form-label mt-3"></label>
                                            <input asp-for="InvestorsQty" class="form-control mt-1 shadow-sm" />
                                            <span asp-validation-for="InvestorsQty" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-6 mt-1">
                                            <label asp-for="TotalIbcrowdVol" class="form-label mt-3"></label>
                                            <input asp-for="TotalIbcrowdVol" class="form-control mt-1 shadow-sm" />
                                            <span asp-validation-for="TotalIbcrowdVol" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-6 mt-1">
                                            <label asp-for="InsuranceIssued" class="form-label mt-3"></label>
                                            <input asp-for="InsuranceIssued" class="form-control mt-1 shadow-sm" />
                                            <span asp-validation-for="InsuranceIssued" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-6 mt-1">
                                            <label asp-for="CreaditQty" class="form-label mt-3"></label>
                                            <input asp-for="CreaditQty" class="form-control mt-1 shadow-sm" />
                                            <span asp-validation-for="CreaditQty" class="text-danger"></span>
                                        </div>

                                        <div class="form-group col-6 mt-1">
                                            <label asp-for="CreaditVol" class="form-label mt-3"></label>
                                            <input asp-for="CreaditVol" class="form-control mt-1 shadow-sm" />
                                            <span asp-validation-for="CreaditVol" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-6 mt-1">
                                            <label asp-for="OnlineCodeQty" class="form-label mt-3"></label>
                                            <input asp-for="OnlineCodeQty" class="form-control mt-1 shadow-sm" />
                                            <span asp-validation-for="OnlineCodeQty" class="text-danger"></span>
                                        </div>
                                    </div>
                                   
                                </form>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

@section Scripts {
    <script>

        $(document).ready(function () {
            $(".submit").click(function (ev) {
                var form = $("#formFinancialSuperMarketMonthlyReport");
                var url = form.attr('action');
                $.ajax({
                    type: "POST",
                    url: url,
                    data: form.serialize(),
                    success: function (data) {

                        // Ajax call completed successfully
                        alert("Form Submited Successfully");
                    },
                    error: function (data) {

                        // Some error in ajax call
                        alert("some Error");
                    }
                })
            })
        });
    </script>

}






